name: Build and Publish Base Container Image

on:
  push:
    branches: [main]
    paths:
      - "Dockerfiles/ubuntu2204"
      - "Dockerfiles/debian"

permissions:
  contents: read
  packages: write

jobs:
  build-and-push-docker-image:
    name: Build and Push to GHCR
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHTOKEN }}

      - name: Get Current Date
        run: echo "NOW=$(date +'%m%d%Y')" >> "$GITHUB_ENV"

      - name: Build and Push Ubuntu 22.04 Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfiles/ubuntu2204
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/riscv/riscv-docs-base-container-image:${{ github.sha }}
            ghcr.io/riscv/riscv-docs-base-container-image:latest
          push: ${{ github.event_name != 'pull_request' }}

      - name: Build and Push Debian Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfiles/debian
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/riscv/riscv-docs-base-container-image:${{ github.sha }}
            ghcr.io/riscv/riscv-docs-base-container-image:small
          push: ${{ github.event_name != 'pull_request' }}
