name: Build Base Container Image for Every Pull Request

on:
  pull_request:
    types: [opened, reopened, edited]
    branches: [main]
    paths:
      - "Dockerfiles/ubuntu2204"
      - "Dockerfiles/debian"
jobs:
  build-and-run-image:
    name: Build Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Building Ubuntu 22.04 Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfiles/ubuntu2204
          platforms: linux/amd64,linux/arm64

      - name: Build and Push Debian Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfiles/debian
          platforms: linux/amd64,linux/arm64
